.divBussinesStudent {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

.BussinesStudent {
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;

    p {
        background-color: transparent;
    }
}