.divError {
    background-color: #00000095;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    justify-content: center;
    align-items: center;
    color: #FFF;
    overflow-y: scroll;
}

p {
    background-color: rgb(7, 66, 20);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
} 

.btnClose {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 2%;
    top: 2%;
    font-size: 30px;
}

.hidden {
    display: none;
}