.formOptions {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 30px;

    label {
        font-weight: bold;
        margin-bottom: 10px;
    }

    input {
        font-size: 25px;
        margin-bottom: 25px;
    }

    select {
        font-size: 25px;
        margin-bottom: 20px;
        height: 40px;
    }

    input[type="submit"] {
        padding: 10px;
    }
}