.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,.50);
    display: none;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    animation: show .5s ease-out forwards;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    padding: 1rem;
    min-width: 520px;
    max-width: 780px;
    min-height: 200px;
    max-height: 600;
    overflow-y: auto;
    background-color: #FFF;
    border-radius: 20px;
  
}

.modal-container p, .modal-container span{
    color: black;
}

.modal-container span {
    font-size: 16px;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;

}

.modal-close i{
    font-size: 50px;
    line-height: 0%;
    color: black;
}

.modal-close i:hover {
    cursor: pointer;
}

@keyframes show {
    0% {
        transform: scale(0.2);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: scale(1);
    }
}